polkit.addRule(function(action, subject) {
	if (action.id !== "org.freedesktop.policykit.exec") {
		return;
	}

	if (action.lookup("program") ===
			"/usr/libexec/honor6x/honor6x-hotspot-control" &&
			subject.local && subject.active && subject.isInGroup("wheel")) {
		return polkit.Result.YES;
	}
});
