[Desktop Entry]
Name=Return to Gaming Mode
Exec=steamosctl switch-to-game-mode
Icon=gaming-return
Terminal=false
Type=Application
StartupNotify=false
